{# templates/tester/test.html.twig #}

{% extends "base.html.twig" %}{# hérite du template parent #}
{% block stylesheets %}{% endblock %}
{% block title %}Test N° {{test.id}} {% endblock %}
 {% block body %}
     Détail du test N°{{test.id}}
     <br>
     Nom : {{ test.nom }}<br>
     Etat : {{ test.etat }}
     <br><br>
     <a href="{{ path("tester_liste")}}"> Retour</a>  
 {% endblock %}